<div *ngIf="cat" class="cat-info">
  <div class=title>
    <div class="title-text">
      {{cat.name | uppercase}}
    </div>
    <div>
      <img src="assets/icons/{{cat.gender}}.png" alt="Gender[cat.gender]" class="title-photo">
    </div>
  </div>

  <div *ngIf="cat.photoLink" class="cat-photo">
    <img src="assets/cats-photos/fullsize/{{cat.photoLink}}">
  </div>


  <div class="birthday"> Date of birth:

    <ng-container *ngIf="cat.birthday.getFullYear() != 0; then birthdayNotNull; else birthdayIsNull">
    </ng-container>

    <ng-template #birthdayNotNull>
      <div class="date">
        {{cat.birthday | date: 'dd/MM/yyyy'}}
      </div>
    </ng-template>

    <ng-template #birthdayIsNull>
      <div class="date">
      </div>
    </ng-template>

  </div>

  <div *ngIf="pedigree" class="pedigreeClass">
    <div class="pedigree-title">Pedigree</div>
    <div [innerHTML]="pedigree"></div>
  </div>

  <button (click)="goBack()">go back</button>
</div>