<div *ngIf="cat" class="cat-info">
  <div class=title>
    <div class="title-text">
      {{cat.title| uppercase}} {{cat.name | uppercase}}
    </div>
    <div class="title-icon">
      <span *ngIf="!cat.gender" class="fa fa-mars"></span>
      <span *ngIf="cat.gender" class="fa fa-venus"></span>
    </div>
  </div>

  <div *ngIf="cat.photoLink" class="cat-photo">
    <img src="assets/cats-photos/fullsize/{{cat.photoLink}}">
  </div>

  <div class="colour">Colour: {{cat.colour}}</div>

  <div class="birthday"> Date of birth:

    <ng-container *ngIf="cat.birthday; then birthdayNotNull; else birthdayIsNull">
    </ng-container>

    <ng-template #birthdayNotNull>
      <div class="date">
        {{cat.birthday | date: 'dd/MM/yyyy'}}
      </div>
    </ng-template>

    <ng-template #birthdayIsNull>
      <div class="date">
      </div>
    </ng-template>

  </div>

  <div *ngIf="pedigree" class="pedigreeClass">
    <div class="pedigree-title">Pedigree</div>
    <div [innerHTML]="pedigree"></div>
  </div>

  <div *ngIf="pedigree" class="parents">
    <ul class="cats-list list-group">
      <li class="cat-manage list-group-item">
        <div *ngIf="cat.sireId">
          <div class="parent-title">
            Sire:
          </div>
          <a href="/detail/{{cat.sireId}}">{{cat.sireId}}</a>
        </div>
        <div *ngIf="cat.damId">
          <div class="parent-title">
            Dam:
          </div>
          <a href="/detail/{{cat.damId}}">{{cat.damId}}</a>
        </div>
      </li>
    </ul>
  </div>

  <button class="btn btn-secondary btn-sm back-button" (click)="goBack()">go back</button>
</div>