
.title{
    display: flex;
    justify-content: center;
}
.title-text{
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
}
.title-icon{
    font-weight: bolder;
    font-size: 2em;
    margin-left: 10px;
}

button {
    display: block
}
.pedigreeClass{
    text-align: center;
    width:70%;
    margin-left: auto;
    margin-right: auto;
}

.birthday {
    font-size: 1.5em;
    text-align: center;
}
.date{
    display: inline
}

.cat-photo{
    width: 40%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.cat-photo img{
    display: block;
    width: 100%;
}

.pedigree-title{
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}