<div class="search-component">
    <input [(ngModel)]="searchText" placeholder="name">

    <ul>
        <li *ngFor="let cat of cats| filter : searchText" (click)="onSelect(cat)">
            <a> {{cat.name}}</a>
        </li>
    </ul>
</div>
<div>
    <form *ngIf="selectedCat" ngNativeValidate (ngSubmit)="save()" class="edit-cat-details">
        <label class="form-element">name:
            <input [(ngModel)]="selectedCat.name" placeholder="name" name="name" required />
        </label>

        <div class="form-group form-element">
            <label>Gender: &nbsp;</label>

            <label class="radio-inline">
                <input type="radio" name="radiogender" [value]='0' [(ngModel)]="selectedCat.gender">Male
            </label>

            <label class="radio-inline">
                <input type="radio" name="radiogender" [value]='1' [(ngModel)]="selectedCat.gender">Female
            </label>

        </div>

        <label class="form-element">title:
            <input [(ngModel)]="selectedCat.title" placeholder="title" name="title" />
        </label>

        <label class="form-element">colour:
            <input [(ngModel)]="selectedCat.colour" placeholder="colour" name="colour" required />
        </label>

        <label class="form-element">birthday:
            <input [ngModel]="selectedCat.birthday | date:'yyyy-MM-dd'" name="birthday" type="date" class="datepicker"
                (ngModelChange)="selectedCat.birthday = $event">
        </label>
        <label class="form-element">father:
            <select [(ngModel)]="selectedCat.sireId" name="sireId">
                <option *ngFor="let male of males" value={{male.id}}>
                    {{male.name}}
                </option>
            </select>
        </label>

        <label class="form-element">mother:
            <select [(ngModel)]="selectedCat.damId" name="damId">
                <option *ngFor="let female of females" value={{female.id}}>
                    {{female.name}}
                </option>
            </select>
        </label>
        <div class="form-element">
            <label>Breed: {{selectedCat.breed}} &nbsp;</label>

            <label class="radio-inline">
                <input type="radio" name="radiobreed" value='KBL' [(ngModel)]="selectedCat.breed">KBL
            </label>

            <label class="radio-inline">
                <input type="radio" name="radiobreed" value='KBS' [(ngModel)]="selectedCat.breed">KBS
            </label>
        </div>

        <label class="form-element">photo:
            <input [(ngModel)]="selectedCat.photoLink" placeholder="" name="photo" />
        </label>

        <button type="submit" (onClick) = saveUpdated()>Update</button>
    </form>
</div>