<input [(ngModel)]="searchText" placeholder="name">

<ul>
  <li *ngFor="let cat of cats | filter : searchText" (click)="onSelect(cat)">
    {{cat.name}}
  </li>
</ul>
<div>
    <form *ngIf="selectedCat"  ngNativeValidate (ngSubmit)="save()" >
        <label class="form-element">name:
            <input [(ngModel)]="selectedCat.name" placeholder="name" name="name" required/>
        </label>
    
        <label class="form-element">title:
            <input [(ngModel)]="selectedCat.title" placeholder="title"  name="title" />
        </label>

        <label class="form-element">colour:
            <input [(ngModel)]="selectedCat.colour" placeholder="colour" name="colour" required/>
        </label> 

        <label class="form-element" >birthday:
            <input [ngModel]="selectedCat.birthday | date:'yyyy-MM-dd'" name="birthday" type="date" class="datepicker" (ngModelChange)="selectedCat.birthday = $event" >
        </label>
        <label class="form-element">father:
        <select [(ngModel)]="selectedCat.sireId" name="sireId">
            <option *ngFor="let male of males" value={{male.id}}>
              {{male.name}}
            </option>
        </select>
        </label>

        <label class="form-element">mother:
        <select [(ngModel)]="selectedCat.damId" name="damId">
            <option *ngFor="let female of females" value={{female.id}}>
              {{female.name}}
            </option>
        </select>
        </label>

        <button type="submit" >save</button>    
    </form>
</div>