<article>
    <h1>Types of tails</h1>
    <p>

        «STUB» - this is the tail, often consisting of 2-8 vertebrae, is shortened and deformed, as if planted on top of
        each
        other, are interconnected by a motionless, fractures may be felt as bumps. Vertebrae to a tail that can be
        located and
        the spiral, but they are so tightly srascheny with each other, that determine the direction of the spiral is not
        possible. Sometimes at the end of the hemp can be 1-2 vertebrae, rather thin and defend to the side, sometimes
        kept
        their partial mobility.

    </p>
    <div class="row justify-content-md-center">

        <div class="col-md-auto">

            <figure class="tails-info">
                <div class="row">
                    <div class="col-md-6">
                        <img src="/assets/about-breed/tail-type-stub.gif" alt="extremely short stub" class="info-photo">
                    </div>
                    <figcaption class="info-text col-md-6">
                        extremely short "stub"
                    </figcaption>
                </div>
            </figure>

            <figure class="tails-info">
                <div class="row">
                    <div class="col-md-6">
                        <img src="/assets/about-breed/tail-type-stub-spiral.gif" alt="type spiral" class="info-photo">
                    </div>
                    <figcaption class="info-text col-md-6">
                        "stub" type spiral
                    </figcaption>
                </div>
            </figure>

            <figure class="tails-info">
                <div class="row">
                    <div class="col-md-6">
                        <img src="/assets/about-breed/tail-type-stub-sprout.gif" alt="stub with shoots"
                            class="info-photo">
                    </div>
                    <figcaption class="info-text col-md-6">
                        "stub" with shoots
                    </figcaption>
                </div>
            </figure>
        </div>

    </div>
    <p>
        «SPIRAL» - consists of 3 - 15 vertebrae deformed in such a way that fractures are created by a fairly sharp
        angle, forming a spiral, or «hook». Such a tail may have a different direction, it may be bent on the back and
        several of his
        vertebrae are very fit snugly to kresttsu. Connection vertebrae may be moving or polupodvizhnym possible
        combination of
        mobile and fixed sites, while bobtail can «wobble» how different parts of the tail.
    </p>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <figure class="tails-info">
                <div class="row">
                    <div class="col-md-6">
                        <img src="/assets/about-breed/tail-type-spiral-down-side.gif"
                            alt="spiral twisted down and sideways" class="info-photo">
                    </div>
                    <figcaption class="info-text col-md-6">
                        "spiral", twisted down and sideways
                    </figcaption>
                </div>
            </figure>

            <figure class="tails-info">
                <div class="row">
                    <div class="col-md-6">
                        <img src="/assets/about-breed/tail-type-spiral-hook.gif" alt="tail spiral type hook"
                            class="info-photo">
                    </div>
                    <figcaption class="info-text col-md-6">
                        tail spiral "type hook"
                    </figcaption>
                </div>
            </figure>

            <figure class="tails-info">
                <div class="row">
                    <div class="col-md-6">
                        <img src="/assets/about-breed/tail-type-spiral-side-back.gif" alt="spiral sideways and backward"
                            class="info-photo">
                    </div>
                    <figcaption class="info-text col-md-6">
                        "spiral" sideways and backward
                    </figcaption>
                </div>
            </figure>
        </div>
    </div>
    <p>
        «WHISK» - consists of 5-10 vertebrae fractures formed by blunt instruments angles, possibly
        moving connect the vertebrae, and their combinations. This tail can visually look quite long, up to 1 /
        3 the normal tail, and incorrectness are determined only by touch.
    </p>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <figure class="tails-info">
                <div class="row">
                    <div class="col-md-6">
                        <img src="/assets/about-breed/tail-type-whisk.gif" alt="tail whisk" class="info-photo">
                    </div>
                    <figcaption class="info-text col-md-6">
                        tail "whisk"
                    </figcaption>
                </div>
            </figure>
        </div>
    </div>

    <p>
        «RELEGATED BOBTAIL» - begins as a normal tail, direct and free from defects in a 5-7 vertebrae,
        and at the end of tails formed «hook» written several already deformed vertebrae, any degree of mobility. «Hook»
        by their nature is often a «spiral».
    </p>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <figure class="tails-info">
                <div class="row">
                    <div class="col-md-6">
                        <img src="/assets/about-breed/tail-type-delayed-bob.gif" alt="relegated bobtail"
                            class="info-photo">
                    </div>
                    <figcaption class="info-text col-md-6">
                        "relegated bobtail"
                    </figcaption>
                </div>
            </figure>
        </div>

    </div>
</article>