h1 {
    text-align: center;
    margin: 1em;
}

p {
    height: 10em;
    width: 70%;
    margin: 0 auto; 
}
.tails-info {
    width: 50%;
    margin: 0.3em auto 1em auto;
}

.info-text{

    width: 100%;
    margin: 0;
}
.info-photo-right {
    float: right;
    margin: 0 0 0 20px;
    max-width: 100%;
    max-height: 100%;
}
.info-photo-left {
    float: left;
    margin: 0 20px 0 0;
    max-width: 100%;
    max-height: 100%;
}