h1 {
    text-align: center;
    margin: 1em;
}

p {
    width: 70%;
    margin: 1em auto;
    text-align: justify;
    text-justify: inter-character;
}

.info-photo-right {
    float: right;
    margin: 0 0 0 20px;
}
.info-photo-left {
    float: left;
    margin: 0 20px 0 0;
}

.info-photo-left,
.info-photo-right {
    max-width: 100%;
    max-height: 150px;
}

@media screen and (max-width: 400px) {
    .info-photo-left,
    .info-photo-right {
        width: 100%;
        max-height: none;
    }
  }