<article>
    <h1>Kurilian bobtail - a little wonder from Kurile Islands</h1>
    <p>
        <img src="/assets/cats-photos/about-breed-1.jpg" alt="cat in the wild photo 1" class="info-photo-right">
        <span class="info-text">
            The Kurilian Bobtail is a natural cat breed (meaning it developed in the wild without human intervention)
            that can be traced back at least 200 years to the Russian island of Sakhalin and the Kurile archipelago
            for which they are named. When Russian scientists and soldiers on the island brought the cats to the
            mainland
            in the mid-20th century, Russian cat breeders quickly became enamored and established the breed on the
            continent.
            Since then, Kurilian Bobtails have become relatively common throughout Europe, but they remain rare in North
            America.
        </span>
    </p>
    <p>
        <img src="/assets/cats-photos/about-breed-2.jpg" alt="cat in the wild photo 1" class="info-photo-left">
        <span class="info-text">
            Kurilian bobtails existed more than 100 years before the official recognition of the breed.
            Quite often they were brought to the continent by the military, and geologists who worked on islands.
            People were attracted to the great personality of kurilian bobtails and unusual look, but they didn’t care
            about showing and breeding. The first official standard of the kurilian bobtail breed was developed by the
            “SFF”(Soviet Feline Federation).
            The Kurilian bobtail breed was officially recognized by the “SFF” on October 21 1991.
        </span>
    </p>
    <p>
        <img src="/assets/cats-photos/about-breed-3.jpg" alt="cat in the wild photo 1" class="info-photo-right">
        <span class="info-text">
            The most notable feature of the Kurilian Bobtail is its stubby tail. The bob is a natural genetic
            mutation in which between 2 and 10 vertebrae in the tail are kinked, which in turn forms a very short
            tail that is often little more than a hump on the cat's rear end. In the Kurilian's case, the tail looks
            a bit like a pom-pom, and no two individuals' tails form in exactly the same way, lending each a little
            more uniqueness.
        </span>
    </p>
    <p>
        <img src="/assets/cats-photos/about-breed-4.jpg" alt="cat in the wild photo 1" class="info-photo-left">
        <span class="info-text">
            Kurilian Bobtail cats can have short or long hair in a variety of solid colors and in tabby and
            tortoiseshell patterns. They might also have white or silver highlights. Further, their coats are soft,
            silky, and water-resistant. That's a good thing considering these cats usually enjoy playing in water, and
            their strong bodies make them naturally talented swimmers.
            These playful kitties are medium- to large-sized cats and can be deceptively heavy due to their solid
            muscle.
            Adults can weigh as much as 15 pounds when fully grown and still be at a healthy weight.
            Their compact bodies, broad chest, and long hind legs all combine to make them powerful cats who are
            terrific jumpers. Expect them to seek out and claim the highest point in their surroundings to check out
            everything going on below.

        </span>
    </p>
</article>