.gallery {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.gallery-element {
    margin: 1em;
}
.gallery-element img{
    display:block;
    max-height: 150px;
    cursor: pointer;
}
.gallery-element a{
    display:block;
    text-align: center;
}
.modal-button{
    display:block
}

@media screen and (max-width: 400px) {
    .gallery-element img{
        width: 100%;
        height: none;
        max-height: none;
    }
  }