<body>
  <header>
    <img src="assets/cats-photos/header-left.png" alt="kurilian bobtail kitten left" class="header-img">
    <span class="header-text">Kurilian Bobtails Info</span>
    <img src="assets/cats-photos/header-right.jpg" alt="kurilian bobtail kitten right"  class="header-img">
  </header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="nav-item nav-link" routerLink="home" routerLinkActive="active">Home</a>
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Info
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="about">About Breed</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="tails">Types of tails</a>
      </div>
    </div>
    <a class="nav-item nav-link" routerLink="gallery">Photo Gallery</a>
    <a class="nav-item nav-link" routerLink="search">Search</a>
    <a class="nav-item nav-link" routerLink="catteries-map">Find Cattery</a>
    <a class="nav-item nav-link" routerLink="login" *ngIf="!currentUser">Login</a>
    <a class="nav-item nav-link" routerLink="manage" *ngIf="currentUser">Manage Cats</a>
    <a class="nav-item nav-link" routerLink="#" (click)="logout()" *ngIf="currentUser">Logout</a>
  </nav>
  <router-outlet class="content"></router-outlet>
</body>
<footer>
</footer>