.gallery{
    margin: 1em auto;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.centered{
    text-align: center;
    color: white;
    font-size: 5em;
}
.text-block {
    position: sticky;
    bottom: 20px;
    right: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 10em;
  }