.gallery{
    margin: 1em auto;
    opacity: 0.6;
    filter: alpha(opacity=50);
}

.centered{
    text-align: center;
    color: white;
    font-size: 5em;
}
.text-block {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    color: white;
    text-align: center;
}

  .text-block h1{
    font-size: 4em;
  }

  .text-block p{
    font-size: 6em;
  }

  
@media screen and (max-width: 600px) {
    .text-block {
        color:ghostwhite;
    }
    .text-block h1{
        font-size: 1.5em;
      }
    
      .text-block p{
        font-size: 3em;
      }
  }