h1 {
    text-align: center;
    margin: 1em;
}
.preview {
    text-align: center;
    font-size: 1.5em;
}

.cat-manage {
    position: relative;
}

.cat-manage .actions {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
