<h1>Search</h1>

<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div *ngIf="cats" class="col-md-4">
      <div class="input-group cat-add">
        <input [(ngModel)]="searchText" placeholder="name" class="cat-search form-control">
      </div>
      <ul class="cats-list list-group">
        <li class="cat-manage list-group-item" *ngFor="let cat of cats| filter : searchText">
          <a routerLink="/detail/{{cat.id}}">{{cat.name}}</a>
          <div class="actions btn-group">
            <button type="button" class="btn btn-secondary btn-sm" (click)="preview(cat)">
              <span class="fa fa-eye"></span>
            </button>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <div class="preview">Preview</div>
      <div *ngIf="previewCatId">
        <app-cat-preview [id]="previewCatId" (emitPass)="showNext($event)"></app-cat-preview>
      </div>
    </div>
  </div>
</div>